.about {
  position: relative;
}

.about__wrapper {
  padding: 0 20px 28px;

  @media (min-width: @tablet-width) {
    padding: 15px 30px 50px;
    counter-reset: section;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 110px 70px 110px;
  }
}

.about__wrapper::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 1000%;
    height: 1px;
    background-color: @gray-e6e6e6;
    bottom: 2px;
    left: -500%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.about__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

@media (min-width: @tablet-width) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
  }
}

.about__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 0 0 26px 80px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 152px;
    counter-increment: section;
  }
}

@media (min-width: @tablet-width) {
  .about__description::after {
    content: counter(section);
    position: absolute;
    top: 0;
    left: 112px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: @gray-f2f2f2;
    z-index: -1;
  }
}

.about__description-break {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.about__leaf {
  content: url("../img/leaf.svg");
  position: absolute;

  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.about__boil {
  content: url("../img/boil.svg");
  position: absolute;

  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.about__eat {
  content: url("../img/eat.svg");
  position: absolute;

  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.about__alarm {
  content: url("../img/alarm.svg");
  position: absolute;

  @media (min-width: @tablet-width) {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.about__item {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 246px;
    min-height: 280px;
    margin-right: 78px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}
