.about__wrapper {
  padding: 20px;
  padding-top: 0;
}

.about__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.about__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 0 0 26px 100px;
}

@media (min-width: @tablet-width) {
  .about__wrapper {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 600px;
  }

  .about__item {
    position: relative;
    width: 246px;
    min-height: 280px;
  }
}

.about__leaf {
  content: url("../img/leaf.png");
  position: absolute;
}

.about__boil {
  content: url("../img/boil.png");
  position: absolute;
}

.about__eat {
  content: url("../img/eat.png");
  position: absolute;
}

.about__alarm {
  content: url("../img/alarm.png");
  position: absolute;
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about__list {
    min-height: 280px;
  }
}
