.addition-item {
  padding-bottom: 18px;
  border-top: 1px solid @gray-cdcdcd;

  @media (min-width: @tablet-width) {
    padding: 26px 38px 25px;
    display: grid;
    grid-template-rows: 46px 40px;
    grid-template-columns: auto 225px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    border: 1px solid @gray-cdcdcd;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    padding: 0;
    grid-template-rows: 71px;
    grid-template-columns: 325px 325px 245px;
  }
}

.addition-item:last-of-type {
  border-bottom: 1px solid @gray-cdcdcd;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    border: 1px solid @gray-cdcdcd;
  }
}


.addition-item__description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 20px;
    column-gap: 49px;
    justify-content: flex-end;
    padding-top: 3px;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 0 0 0;
    display: grid;
    grid-template-columns: 244px 82px;
    column-gap: 0;
  }
}

.addition-item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px 0 13px 1px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 0 0 25px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    padding: 0 0 0 0;
  }
}

.addition-item__type {
  // font-family: "Arial", sans-serif;
  // font-size: 14px;
  // line-height: 14px;

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
  }
}

.addition-item__price {
  // font-family: "Arial", sans-serif;
  // font-size: 14px;
  // line-height: 14px;
  margin: 0;

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
  }
}

li .addition-item__button {
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 244px;
    min-height: 40px;
  }
}
