.addition-item {
  padding-bottom: 19px;
}

.addition-item__description {
  display: flex;
  justify-content: space-between;
}

.addition-item__title {
  font: inherit;
  line-height: 16px;
  text-transform: uppercase;
}

.addition-item__type {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.addition-item__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
