.catalog-container {
  padding-top: 27px 20px 35px;

  @media (min-width: @tablet-width) {
    padding: 27px 30px 76px;
  }
}

.catalog-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-bottom: 82px;
  }
}

.catalog-container__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
  }
}
