.catalog-container {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 41px;
}

@media (min-width: @tablet-width) {
  .catalog-container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog-container__list {
    column-gap: 80px;
  }
}
