.contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.contacts__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    min-height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
  }
}
