.example {
  background-color: @gray-eaeaea;
  padding: 25px 20px 40px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.example__expense {
  margin-left: 46px;
}

.example__expense,
.example__sum {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.example__cat-compare {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .example {
    min-height: 1080px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    min-height: 600px;
  }
}
