.form-person {
  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form-person__data-value-name {
  box-sizing: border-box;
  width: 227px;
  padding: 8px 0 9px 12px;

  @media (min-width: @tablet-width) {
    width: 563px;
    // padding: 10px 0 12px 19px;
  }

  @media (min-width: @desktop-width) {
    width: 506px;
  }
}

.form-person__data-value-weight {
  box-sizing: border-box;
  width: 204px;
  padding: 8px 0 9px 15px;

  @media (min-width: @tablet-width) {
    width: 535px;
    // padding: 10px 0 12px 19px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
  }
}

.form-person__data-value-age {
  box-sizing: border-box;
  width: 172px;
  padding: 8px 0 9px 15px;

  @media (min-width: @tablet-width) {
    width: 494px;
    // padding: 10px 0 12px 19px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.form-person__person-data {
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.form-person__person-data:last-of-type {
  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form-person__data-name {
  color: @gray-444444;
  text-transform: uppercase;
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 14px;
  }
}

.form-person__data-value {
  font: inherit;
  border: 1px solid @white;
  outline: 1px solid @gray-e7e7e7;

  @media (min-width: @tablet-width) {
    padding: 12px 0 12px 18px;
  }
}

.form-person__data-value:hover {
  outline-color: @gray-cdcdcd;
}

.form-person__data-value:focus {          //не совсем понятно, что делать с input error
  border-color: @gray-444444;
  outline-color: @gray-444444;
}

.form-person__data-value::placeholder {
  text-transform: uppercase;
  color: @gray-444444;
  opacity: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
