.form-order__title {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 5px 0 55px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: 56px;
  }
}

.form-order__title::before {
  content: "";
  position: absolute;
  top: -27px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-order__description {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 39px;
  width: 226px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 66px 40px;
    width: 323px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}


@media (min-width: @tablet-width) {
  .form-order {
    position: relative;
  }
}
