.form-contact {
  padding: 25px 0 10px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 0 40px 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 65px;
  }
}

.form-contact__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 76px;
  }
}

.form-contact__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-contact__owner-data {
  padding-bottom: 14px;
}

.form-contact__owner-contact {
  color: @gray-444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-contact__owner-input {
  box-sizing: border-box;
  font: inherit;
  padding: 13px 40px 15px 15px;
}

.form-contact__owner-input--email {
  width: 220px;

  @media (min-width: @tablet-width) {
    width: 550px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.form-contact__owner-input--phone {
  width: 205px;

  @media (min-width: @tablet-width) {
    width: 535px;
  }

  @media (min-width: @tablet-width) {
    width: 472px;
  }
}

.form-contact__owner-input::placeholder {
  text-transform: uppercase;
  color: @gray-444444;
  opacity: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
