.main-container {
  background-image: url("../../img/cat-tongue.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
}

.main-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  margin: 0;
  padding: 27px 36px 25px;
}

.main-container__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  margin: 0;
  padding: 20px 62px 29px;
}

.main-container__diet {
  background-color: @gray-f2f2f2;
  padding: 30px 20px 22px;
  margin-bottom: 20px;
}

.main-container__button {
  font-size: 14px;
  line-height: 18px;
}

.main-container__diet-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
}

.main-container__diet-description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
}

.main-container__diet-button {
  font-family: inherit;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}
