.main-footer__wrapper {
  background-color: @gray-f2f2f2;
}

.main-footer__logo {
  display: block;
  padding: 40px 0 32px 96px;
}

.main-footer__social {
  padding: 23px 0 23px;
}

.main-footer__copyright {
  padding: 28px 0 32px 20px;
}

@media (min-width: @tablet-width) {
  .main-footer__bottom {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    position: relative;
  }
}
