.more {
  text-align: center;
  padding: 0 0 25px 0;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 78px;
  padding-bottom: 8px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 241px 94px 23px 96px;
  }

  @media (min-width: @desktop-width) {
    padding: 241px 55px 23px;
  }
}

.more__comment {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 87px;
  }
}

.more__button {
  appearance: none;
  width: 100%;
  display: block;
  color: @gray-444444;
  background-color: @gray-f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}
