.personal-wrapper {
  @media (min-width: @tablet-width) {
    // min-height: 470px;
    padding: 0 40px 75px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    // min-height: 196px;
    padding: 0;
    padding-bottom: 69px;
  }
}
