@media (min-width: @tablet-width) {
  .personal-wrapper {
    min-height: 470px;
  }
}

@media (min-width: @desktop-width) {
  .personal-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
  }
}
