.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  // border-top: 1px solid @gray-e6e6e6;
}

.site-list__item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: @gray-e6e6e6;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 22px 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;

  @media (min-width: @tablet-width) {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding: 5px;
    margin-right: 25px;
    font-size: 20px;
    line-height: 30px;
    color: @white;
  }
}

.site-list__item:first-of-type .site-list__link::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    width: 64px;
    height: 2px;
    background-color: @green-68b738;
  }

  @media (min-width: @desktop-width) {
    top: 40px;
    left: 5px;
    width: 71px;
    background-color: @white;
  }
}
